{% extends '::base.html.twig' %}

{% block body %}
    
    <h1> Ajouter un mailing</h1>
<div class="row">
    <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>

{% endblock %}