{% extends "::base.html.twig" %}

{% block body %}
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-6">
                <div class="well sponsor">
                    <h1>Clients</h1>
                    <p>Ut rhoncus justo mauris, vulputate elementum elit pulvinar eget.</p>
                    <button type="button" class="btn btn-primary btn-lg">Large button</button>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="well sponsor">
                    <h1>Marketing</h1>
                    <p>Ut rhoncus justo mauris, vulputate elementum elit pulvinar eget.</p>
                    <button type="button" class="btn btn-primary btn-lg">Large button</button>
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-lg-6">
                <div class="well sponsor">
                    <h1>Edition formulaire</h1>
                    <p>Ut rhoncus justo mauris, vulputate elementum elit pulvinar eget.</p>
                    <button type="button" class="btn btn-primary btn-lg">Large button</button>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="well sponsor">
                    <h1>Utilisateurs</h1>
                    <p>Ut rhoncus justo mauris, vulputate elementum elit pulvinar eget.</p>
                    <button type="button" class="btn btn-primary btn-lg">Large button</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}