{% extends "::base.html.twig" %}

{% block body %}
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <button type="button" class="btn btn-primary btn-lg btn-block" style="height: 120px;
width: 250px;
margin-left: 187px;">Clients</button>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div>
                    <button type="button" class="btn btn-primary btn-lg btn-block" style="height: 120px;width: 250px;margin-left: 115px">Marketing</button>
                </div>
            </div>
        </div>
        
        
        <div class="row" style="margin-top: 160px">
            <div class="col-lg-6">
                <div>
                    <button type="button" class="btn btn-primary btn-lg btn-block"style="height: 120px;
                                                                                         width: 250px;
                                                                                         margin-left: 187px;"><div>Edition</div> 
                        <div>formulaire</div>
                    </button>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div>
                    <button type="button" class="btn btn-primary btn-lg btn-block" style="height: 120px;width: 250px;margin-left: 115px">Utilisateurs</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}