{% extends "::base.html.twig" %}

{% block body %}
    <div class="page-header" id="banner">

        <div class="row">
            <div class="col-lg-6">
                <div class="well sponsor home-well">
                    <h1><a href="{{ path('ip_motors_customer_homepage') }}">Clients</a></h1>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well sponsor home-well">
                    <h1><a href="#">Marketing</a></h1>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="well sponsor home-well">
                    <h1><a href="{{ path('ip_motors_form_edit_homepage') }}">Edition du formulaire</a></h1>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well sponsor home-well">
                    <h1><a href="{{ path('ip_motors_users_list') }}">Utilisateurs</a></h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="well sponsor home-well">
                    <h1><a href="{{ path('ip_motors_mail_list') }}">Gestion des notification mails</a></h1>
                </div>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>
{% endblock %}